<section class="post-complaint-section w-75 p-4">
    <h2 class="text-center">NUEVA DENUNCIA</h2>
    <form #formDenuncia="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="d-flex justify-content-between w-100 mb-4">
            <div class="input-box w-50">
                <label for="selectOption" class="form-label">Motivo</label>
                <select id="selectOption" class="form-select w-100" name="option" [(ngModel)]="selectedOption"
                    #optionField="ngModel" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    @for (type of complaintTypes; track $index) {
                        <option [value]="type.id">{{type.value}}</option>
                    }
                </select>
                @if (optionField.invalid && (optionField.dirty || optionField.touched)) {
                <div class="text-danger">
                    @if (optionField.errors?.['required']) {
                    <span>Por favor, ingrese una opción</span>
                    }
                </div>
                }
            </div>

            <div class="input-box">
                <label for="dateInput" class="form-label">Fecha</label>
                <input type="date" id="dateInput" name="dateInput" class="form-control bg-body-secondary" [(ngModel)]="selectedDate"
                    #dateField="ngModel" [max]="maxDate" required disabled>
                @if (dateField.invalid && (dateField.dirty || dateField.touched)) {
                <div class="text-danger">
                    @if (dateField.errors?.['required']) {
                    <span>Por favor, seleccione una fecha.</span>
                    } @else if (dateField.errors?.['max']) {
                    <span>La fecha no puede ser posterior a la de hoy.</span>
                    }
                </div>
                }
            </div>
        </div>

        <div class="input-box d-flex flex-column gap-2 mb-4">
            <label for="textareaMessage" class="form-label">Mensaje</label>
            <textarea class="form-control" name="textareaMessage" id="textareaMessage"
                [placeholder]="textareaPlaceholder" [(ngModel)]="textareaContent" #textArea="ngModel" required
                minlength="10" maxlength="500" rows="8"></textarea>
            @if (textArea.invalid && (textArea.dirty || textArea.touched)) {
            @if (textArea.errors?.['required']) {
            <span class="text-danger">
                Por favor, ingrese un mensaje.
            </span>
            }
            @if (textArea.errors?.['minlength']) {
            <span class="text-danger">
                El mensaje debe tener al menos 10 caracteres.
            </span>
            }
            }
        </div>

        <div class="buttons-box d-flex justify-content-between">
            <div class="files-box">
                <app-file-upload />
            </div>
            
            <div class="submit-box">
                <button class="btn btn-secondary me-3">Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="formDenuncia.invalid">Enviar</button>
            </div>
        </div>
    </form>
</section>