<div class="container-fluid">
    <div class="container border shadow-lg p-3 mb-5 bg-white rounded">
      <div class="text-center">
        <h2>LISTADO DE DENUNCIAS</h2>
      </div>
      <br />
      <div class="row align-items-center">
        <div class="col-md-3 mb-2">
          <input
            type="text"
            placeholder="Buscar"
            class="form-control"
            (keyup)="applyFilter($event)"
          />
        </div>
        <div class="col-md-3 mb-2">
          <select
            (change)="search($event)"
            [(ngModel)]="selectedValue"
            class="form-control"
            id="estadoSelect"
          >
            <option value="">Seleccionar Estado</option>
            <option value="Nueva">Nueva</option>
            <option value="Pendiente">Pendiente</option>
            <option value="Anexada">Anexada</option>
            <option value="Rechazada">Rechazada</option>
          </select>
        </div>
        <div class="col-md-6 text-end">
          <div class="row">
            <div class="col-md-4 mb-2">
              <input
                (change)="filterDate()"
                [(ngModel)]="filterDateStart"
                class="form-control"
                type="date"
              />
            </div>
      
            <div class="col-md-4 mb-2">
              <input
                (change)="filterDate()"
                [(ngModel)]="filterDateEnd"
                class="form-control"
                type="date"
              />
            </div>
    
            <div class="col-md-4 text-end d-flex justify-content-end align-items-center  mb-2">
              <button id="exportExcelBtn" class="btn btn-success me-2">
                <i class="bi bi-file-earmark-excel"></i>
              </button>
              <button id="exportPdfBtn" class="btn btn-danger me-2">
                <i class="bi bi-file-earmark-pdf"></i>
              </button>
              <button class="btn btn-primary" [routerLink]="'/postComplaint'">
                Nuevo
              </button>
            </div>
          </div>
        </div>
      </div>
      
  
      <br />
  
      <div>
        <table id="complaintsTable" class="table" style="border-radius: 15px">
          <thead>
            <tr class="text-center">
              <th scope="col" style="background-color: #eeeeee">Fecha</th>
              <th scope="col" style="background-color: #eeeeee">Estado</th>
              <th scope="col" style="background-color: #eeeeee">Detalle</th>
              <th scope="col" style="background-color: #eeeeee">
                Archivos adjuntos
              </th>
              <th scope="col" style="background-color: #eeeeee">Acciones</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  