// .verdeOscuro {
//      background-color: #2D6A4F;
//      color: white;
// }
// .verdeClaro{
//     background-color:#40916C ;
//     color: white;
// }
// .fondoGris{
//     background-color:#D3D3D3;
//     color: black;
// }
// .bordeVerdeOscuro{
//     border:#1B4332,solid,4px;
// }
#modalDenuncia{
    height: 500px;
    width: 500px;
}
// .input-date{
//     height: 40px;
// }

.hover:hover{
    background-color: black;
    color:white;
}
