<div class="modal-content border border-2">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="complaintModal">Alta de denuncias</h1>
    <button type="button" class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <div class="row">

      <!-- Select Motivo -->
      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Motivo</label>
          <div class="col-10">
            <select class="form-select" formControlName="typeControl">
              <option value="" disabled selected>Seleccione una opción</option>
              @for (type of complaintTypes; track $index) {
              <option [value]="type.key">{{type.value}}</option>
              }
            </select>
          </div>
        </div>
      </div>


      <!-- Input fecha -->
      <div class="col-lg-6 mb-3">
            <div class="row">
                <label class="col-2 col-form-label">Fecha</label>
                <div class="col-10">
                    <input type="date" class="form-control" formControlName="dateControl" disabled>
                </div>
            </div>
        </div>


      <!-- Input text area -->
      <div class="col-lg-12 mb-3">
        <div class="row">
          <label class="col-2 col-lg-1 col-form-label">Descripcion</label>
          <div class="col-10 col-lg-11">
            <textarea class="form-control" rows="8" formControlName="descriptionControl" style="resize: none;" disabled></textarea>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Cerrar</button>
  </div>
</div>


