<div class="container">
  <div class="row p-4 border shadow-lg p-3 mb-5 bg-white rounded">
    <h2 class="text-center">NUEVO DESCARGO</h2>

    <h3 class="">Infracción</h3>
    <div class="d-flex justify-content-between w-100 mb-4">
      <div class="input-box w-50">
        <label for="selectOption" class="form-label">Motivo</label>
        <select
          id="selectOption"
          class="form-select w-100"
          name="option"
          disabled
        >
          <option value="" disabled selected>
            {{ fine.report.reportReason.reportReason }}
          </option>
        </select>
      </div>

      <div class="input-box">
        <label for="dateInput" class="form-label">Fecha</label>
        <input
          type="date"
          id="dateInput"
          name="dateInput"
          class="form-control bg-body-secondary"
          value="{{ fine.createdDate | date : 'yyyy-MM-dd' }}"
          disabled
        />
      </div>
    </div>

    <div class="input-box d-flex flex-column gap-2 mb-4">
      <label for="textareaMessage" class="form-label">Descripcion</label>
      <textarea
        class="form-control"
        name="textareaMessage"
        id="textareaMessage"
        rows="7"
        disabled
        >{{ fine.report.description }}</textarea
      >
    </div>

    <form #formDescargo="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="input-box d-flex flex-column gap-2 mb-4">
        <h4 class="">Motivo de Descargo</h4>
        <textarea
          class="form-control"
          name="textareaMessage2"
          id="textareaMessage2"
          [(ngModel)]="disclaimer"
          #textArea2="ngModel"
          required
          minlength="50"
          maxlength="700"
          rows="7"
          [placeholder]="textareaPlaceholder"
        >
        </textarea>

        @if (textArea2.invalid && (textArea2.dirty || textArea2.touched)) { @if
        (textArea2.errors?.['required']) {
        <span class="text-danger"> Por favor, ingrese un mensaje. </span>
        } @if (textArea2.errors?.['minlength']) {
        <span class="text-danger">
          El mensaje debe tener al menos 50 caracteres.
        </span>
        } }
      </div>
      <div class="buttons-box d-flex justify-content-end">
        <div class="submit-box">
          <button
            type="button"
            class="btn btn-secondary me-3"
            [routerLink]="'/home/sanctions/sanctionsList'"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="formDescargo.invalid"
          >
            Enviar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
