<section class="py-5">
  <div class="container p-3 border border-2 rounded shadow-lg">

    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <div class="row">

        <!-- Infractor -->
        <div class="col-lg-6 mb-3">
          <div class="row">
            <label class="col-2 col-form-label">Infractor</label>
            <div class="col-10">
              <input type="text" class="form-control rounded" [value]="infractorPlaceholder" disabled />
            </div>
          </div>
        </div>

        <!-- Motivo -->
        <div class="col-lg-6 mb-3">
          <div class="row">
            <label class="col-2 col-form-label">Motivo</label>
            <div class="col-10">
              <select class="form-select" disabled>
                <option value="" selected>
                  {{ report?.reportReason.reportReason }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <!-- Radio multa/advertencia -->
        <div class="col-lg-6 mb-3">
          <div class="row">
            <div class="col-2 col-form-label">
              <label for="reportReason" class="me-2">Tipo de Infracción</label>
            </div>
            <div class="col-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="infractionType" value="fine"
                  id="flexRadioDefault1" (change)="showAmountToPay('fine')" />
                <label class="form-check-label me-4" for="flexRadioDefault1">Multa</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="infractionType" value="warning"
                  id="flexCheckChecked2" (change)="showAmountToPay('warning')" />
                <label class="form-check-label" for="flexRadioDefault2">Advertencia</label>
              </div>
            </div>
          </div>
        </div>

        <!-- Textarea de descripcion -->
        <div class="col-lg-12 mb-3">
          <div class="row">
            <label class="col-2 col-lg-1 col-form-label">Descripción</label>
            <div class="col-10 col-lg-11">
              <textarea class="form-control" rows="4" style="resize: none" [value]="report?.description"
                disabled></textarea>
            </div>
          </div>
        </div>

        <div class="col-6">

        </div>

        @if (newFine) {
        <!-- Importe -->
        <div class="col-lg-6 mb-3">
          <div class="row">
            <label class="col-2 col-form-label">Importe $</label>
            <div class="col-10">
              <input type="number" class="form-control text-end" formControlName="amount"
                [ngClass]="onValidate('amount')" />
              <div class="text-danger">{{ showError("amount") }}</div>
            </div>
          </div>
        </div>
        }



        <div class="row">
          <div class="col d-flex justify-content-end gap-3">
            <button type="button" class="btn btn-secondary me-3" (click)="cancel()">Cancelar</button>
            <button type="submit" class="btn btn-success"
              [disabled]="reactiveForm.invalid || (newFine && reactiveForm.get('amount')?.value === 0)">Registrar</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</section>

<!-- Modal de info -->
<div class="modal fade" id="infoModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Descargo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <!-- body con tus inputs -->
        <p>
          Aquí se puede realizar el alta de una multa o advertencia con sus datos correspondientes. La infracción incluye la siguiente información:
        </p>                
        <ul>
          <li><b>Infractor: </b>Muestra el Lote al cual irá dirigida la infracción.</li>
          <li><b>Motivo: </b>Motivo por el cual se registrará la infracción.</li>
          <li><b>Tipo de infracción: </b>Aquí puede elegir si la misma será una multa o una advertencia. En caso de ser una multa, se podrá elegir el importe destinado a la misma, el cual se podrá modificar.</li>
          <li><b>Descripción: </b>Aquí se verá el por qué se realiza la infracción con ese motivo, correspondiente al informe seleccionado.</li>
        </ul>
        <p>Al completar todos los campos de forma correcta, podrá hacer click en el botón Registrar para enviar la información. En caso de hacer click en el botón Cancelar, podrá volver hacia el listado de informes.</p>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>