<section class="pt-5">
  <div class="container p-3 border border-2 rounded shadow-lg mb-5">

    <!-- BOTON DE AGREGAR ITEM AL LISTADO PARA QUIENES LO NECESITEN -->
    <div class="row mb-3 text-end">
      <div class="col">
        <button class="btn btn-primary" (click)="redirect('/home/complaints/postComplaint')">
          Agregar
          <span class="bi-plus-lg"></span>
        </button>
      </div>
    </div>

    <!-- Fila de botones de filtro -->
    <div class="row mb-3">
      <!-- Primera columna principal -->
      <div class="col-lg-6 mb-3">
        <div class="row">

          <!-- Barra de busqueda -->
          <div class="col">
            <input type="text" placeholder="Buscar" class="form-control" [(ngModel)]="searchTerm"
              (input)="onSearch($event)">
          </div>

          <!-- Select de estado -->
          <div class="col">
            <select (change)="onFilter($event)" [(ngModel)]="selectedValue" class="form-select" id="estadoSelect">
              <option value="">Seleccionar Estado</option>
              @for (state of states; track $index) {
              <option [value]="state.value">{{state.value}}</option>
              }
            </select>
          </div>

        </div>
      </div>

      <!-- Segunda columna principal -->
      <div class="col-lg-6 mb-3">
        <div class="row">

          <!-- Filtro de fechas -->
          <div class="col d-flex gap-3">
            <div class="col">
              <input (change)="filterDate()" [(ngModel)]="filterDateStart" class="form-control" type="date">
            </div>
            <div class="col">
              <input (change)="filterDate()" [(ngModel)]="filterDateEnd" class="form-control" type="date">
            </div>
          </div>


          <!-- BOTON DE FILTRO PARA QUIENES LO NECESITEN -->
          <!-- <div class="col">
            <button class="btn btn-primary bi-funnel-fill">Filtros</button>
          </div> -->

          <!-- Botones de exportar -->
          <div class="col-auto d-flex gap-1 text-end">
            <button id="exportExcelBtn" class="btn btn-success bi-file-earmark-excel"></button>
            <button id="exportPdfBtn" class="btn btn-danger bi-file-earmark-pdf"></button>
          </div>

        </div>

      </div>
    </div>

    <table id="sanctionsTable" class="table table-striped border border-3 rounded">
      <thead>
        <tr class="text-center">
          <th scope="col">Fecha</th>
          <th scope="col">Estado</th>
          <th scope="col">Lote infractor</th>
          <th scope="col">Monto</th>
          <th scope="col">Mensaje</th>
          <th scope="col">AccionesA</th>
          <!-- <th scope="col">Seleccionar</th> -->
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

</section>


<!-- Modal de info -->
<div class="modal fade" id="infoModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Listado de denuncias</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Aqui la explicacion de la pagina
      </div>
    </div>
  </div>
</div>
