<div class="modal fade" id="complaintModal" tabindex="-1" aria-labelledby="complaintModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="complaintModalLabel">Gestión de denuncias <i
                        class="bi bi-question-circle ms-2" data-bs-toggle="tooltip" data-bs-placement="right"
                        [title]="tooltipTitle"></i></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-auto" style="max-height: 500px;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tipo de Denuncia</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let complaint of complaints">
                            <td>
                                @if (complaint?.complaintReason==="Otro"){
                                    <p> {{ complaint?.complaintReason + " - " + complaint?.anotherReason || 'N/A' }}</p>
                      
                                  }
                                  @else {
                                    <p> {{ complaint?.complaintReason || 'N/A' }}</p>
                                  }
                            </td>
                            
                            <td>{{ complaint.complaintState }}</td>
                            <td>{{ complaint.createdDate | date:"dd/MM/yyyy" }}</td>
                            <td class="text-center">
                                <input type="checkbox" [(ngModel)]="complaint.selected">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="attachSelectedComplaintsToList()">Guardar</button>
            </div>
        </div>
    </div>
</div>