<section class="py-5">
    <div class="container p-3 border border-2 rounded shadow-lg">
        <!-- Formulario -->
        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
            <div class="row">

                <!-- Ejemplo select -->
                <div class="col-lg-6 mb-3">
                    <div class="row">
                        <label class="col-2 col-form-label">Motivo</label>
                        <div class="col-10">
                            <app-custom-select [options]="options"
                                [selectedOptions]="reactiveForm.get('complaintReason')?.value"
                                (selectedOptionsChange)="updateSelect($event)"
                                [validations]="reactiveForm.get('complaintReason')?.validator">
                            </app-custom-select>
                        </div>
                    </div>
                </div>

                @if(reactiveForm.value.complaintReason == "Otro"){
                <div class="col-lg-6 mb-3">
                    <div class="row">
                        <label class="col-2 col-form-label">Detalle</label>
                        <div class="col-10">
                            <input type="text" name="otroMotivo" class="form-control" formControlName="anotherReason"
                                [ngClass]="onValidate('anotherReason')">
                            <div class="invalid-feedback">{{showError('anotherReason')}}</div>
                        </div>
                    </div>
                </div>
                }

                <!-- Ejemplo text area -->
                <div class="col-lg-12 mb-3">
                    <div class="row">
                        <label class="col-2 col-lg-1 col-form-label">Descripción</label>
                        <div class="col-10 col-lg-11">
                            <textarea class="form-control" rows="4" formControlName="descriptionControl"
                                style="resize: none;" [ngClass]="onValidate('descriptionControl')"></textarea>
                            <div class="invalid-feedback">{{showError('descriptionControl')}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ejemplo input file -->
            <div class="col-lg-6 mb-3">
                <div class="row">
                    <label class="col-2 col-form-label">Pruebas</label>
                    <div class="col-10">
                        <input type="file" class="form-control" multiple accept="image/*" formControlName="fileControl"
                            [ngClass]="onValidate('fileControl')" (change)="onFileChange($event)">
                        <div class="invalid-feedback">{{showError('fileControl')}}</div>
                        <!-- Listado de archivos -->
                        <div class="list-group mt-3">
                            @for (file of files; track $index) {
                            <div class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <i class="bi-file-earmark-text me-3 text-primary fs-5"></i>
                                    <span>{{file.name.length > 40 ? file.name.slice(0, 40)+'...' :
                                        file.name}}</span>
                                </div>
                                <span>{{ (file.size / (1024 * 1024)).toFixed(2) }} MB</span>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Botones de Enviar / Cancelar -->
            <div class="row">
                <div class="col d-flex justify-content-end gap-3">
                    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar
                    </button>
                    <button type="submit" class="btn btn-success" disabled
                        [disabled]="reactiveForm.invalid">Registrar</button>
                </div>
            </div>
        </form>

    </div>
</section>


<!-- Modal de info -->
<div class="modal fade" id="infoModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content border border-2">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Alta de denuncias</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>
                    Aquí se puede realizar el alta de una denuncia con sus datos correspondientes. La misma puede contener
                    imágenes como prueba. La denuncia incluye la siguiente información:
                </p>                
                <ul>
                    <li><b>Motivo: </b>Una lista de motivos disponibles para realizar la denuncia. En caso de no encontrar uno que represente a la misma, puede hacer click en otro y se abrirá un campo <b>Detalle</b> donde podrá detallar un motivo personalizado.</li>
                    <li><b>Descripción: </b>Aquí podrá describir el por qué realiza la denuncia con ese motivo.</li>
                    <li><b>Pruebas: </b>Aquí podrá adjuntar una imágen como prueba para respaldar el motivo y la descripción de la denuncia.</li>
                </ul>
                <p>Al completar todos los campos de forma correcta, podrá hacer click en el botón Registrar para enviar la información. En caso de hacer click en el botón Cancelar, podrá volver hacia el listado de denuncias.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
        </div>
    </div>
</div>