<section class="py-5">
  <div class="container p-3 border border-2 rounded shadow-lg">

    <!-- BOTON DE AGREGAR ITEM AL LISTADO PARA QUIENES LO NECESITEN -->
    <!-- <div class="row mb-3 text-end">
      <div class="col">
        <button class="btn btn-primary" (click)="redirect('/home/complaints/postComplaint')">
          <span class="bi-plus-lg"></span>
        </button>
      </div>
    </div> -->

    <div class="row mb-3">

      <!-- Barra de busqueda -->
      <div class="col-md-3">
        <input type="text" placeholder="Buscar" class="form-control" [(ngModel)]="searchTerm"
          (input)="onSearch($event)">
      </div>


      <!-- Select de estado -->
      <div class="col-md-2">
        <app-custom-select [options]="options" [selectedOptions]="selectedStates"
          (selectedOptionsChange)="onFilter($event)" [multiple]="true">
        </app-custom-select>
      </div>


      <!-- Filtro de fechas -->
      <div class="col-md-4 d-flex gap-3">
        <input (change)="filterDate()" [(ngModel)]="filterDateStart" class="form-control" type="date" [max]="filterDateEnd">
        <input (change)="filterDate()" [(ngModel)]="filterDateEnd" class="form-control" type="date" [max]="today" [min]="filterDateStart">
      </div>


      <!-- Botones de exportar -->
      <div class="col-md-3 d-flex gap-2 justify-content-end">
        <button class="btn btn-secondary bi-trash" (click)="eraseFilters()"></button>
        <button id="exportExcelBtn" class="btn btn-success bi-file-earmark-excel" (click)="exportToExcel()"></button>
        <button id="exportPdfBtn" class="btn btn-danger bi-file-earmark-pdf" (click)="exportToPDF()"></button>
      </div>

    </div>

    <table id="sanctionsTable" class="table table-striped table-hover border border-3 rounded">
      <thead>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col" class="text-center">Estado</th>
          <th scope="col">Lote</th>
          <th scope="col" class="text-end">Monto</th>
          <th scope="col">Mensaje</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

</section>


<!-- Modal de info -->
<div class="modal fade" id="infoModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Listado de Sanciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>
          En este listado podrá visualizar, buscar y ordenar las multas o advertencias realizadas.
        </p>
        <p>
          Además, en las acciones, cuenta con la posibilidad de modificar el estado o ver más detalles sobre las multas o advertencias.
        </p>
        <p>
          <strong>Acciones</strong>
        </p>
        <ul>
          <li><b>Ver más: </b>Se abrirá una ventana para poder ver con detalle la información de la multa.</li>
          <li><b>Editar: </b>Se abrirá una ventana para editar el importe de la multa seleccionada.</li>
          <li><b>Descargo: </b>El usuario podrá realizar un descargo sobre la multa seleccionada</li>
        </ul>
        <p>La tabla también incluye una barra de búsqueda, filtros de fecha desde y hasta y opciones de paginación,
          facilitando así la navegación y el filtrado de los datos disponibles.</p>
        <ul>
          <li><button class="btn btn-secondary bi bi-trash mb-2"></button> Elimina los filtros avanzados aplicados.</li>
          <li><button class="btn btn-success mt-2 bi-file-earmark-excel mb-2"></button> Exporta el contenido de la tabla
            a Excel.</li>
          <li><button class="btn btn-danger bi-file-earmark-pdf mb-2"></button> Exporta el contenido de la tabla a PDF.
          </li>
          <li>
            <button type="button" class="btn btn-primary rounded-pill">
              <span class="bi-plus-lg"></span>
            </button> Redirige hacia el formulario de alta de denuncias.
          </li>  
        </ul>
        <p>
          Además, si se encuentra dentro de los 7 días hábiles desde que recibió la multa, podrá realizar un descargo.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>