<input type="file" class="file-input" style="display: none;"
(change)="selectFile($event)"  accept=".jpg, .jpeg, .png" #fileUpload multiple>

<div>
    <button class="badge rounded-pill"  (click)="fileUpload.click()"
    style="background-color: #2D6A4F; border: 2px solid #1B4332; width: 22vh; height: 5vh; font-size: medium" name="file-upload">
    Adjuntar <i class="bi bi-paperclip"></i>
    </button>
</div>
<app-file *ngFor="let file of files; let i = index" [file]="file" [index]="i" (selected)="eliminateImg(i)"></app-file>