<!--Si ves esto es porque anda bien en nanvar y tenes que borrar este div -->
<div class="container my-2 p-2 border border-2 rounded shadow-lg">
  <!-- Fila de botones de filtro -->
  <div class="row">
    <div class="col d-flex gap-3">
      @if (status == 0) {
      <div class="col-md-5">
        <div class="input-group">
          <input type="date" (ngModelChange)="applyFilters()" class="form-control border-0 bg-light"
            [(ngModel)]="periodFrom" [max]="periodTo" />
        </div>
      </div>
      <div class="col-md-5">
        <div class="input-group">
          <input type="date" (ngModelChange)="applyFilters()" class="form-control border-0 bg-light"
            [(ngModel)]="periodTo" [min]="periodFrom" [max]="getCurrentDate()" />
        </div>
      </div>
      <div class="col-md-2 d-flex gap-2">
        <button type="button" class="btn btn-primary bi bi-funnel" (click)="openFilterModal()"></button>
        <button class="btn btn-secondary bi-trash" (click)="eraseFilters()"></button>
      </div>
      } @if (status == 1) {
      <div class="col">
        <div class="input-group">
          <input (ngModelChange)="applyFilters()" type="date" class="form-control border-0 bg-light"
            [(ngModel)]="periodFrom" [max]="periodTo" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input (ngModelChange)="applyFilters()" type="date" class="form-control border-0 bg-light"
            [(ngModel)]="periodTo" [min]="periodFrom" [max]="getCurrentDate()" />
        </div>
      </div>
      <div class="col-md-4">
        <select (change)="applyFilters()" class="form-select" [(ngModel)]="reportReason"
          aria-label="Default select example">
          <option value="" selected>Razones...</option>
          @for (item of reportsReasons; track $index) {
          <option value="{{ item.reportReason }}">
            {{ item.reportReason }}
          </option>
          }
        </select>
      </div>
      <div class="col-auto d-flex gap-1 ms-auto">
        <button class="btn btn-secondary bi-trash" (click)="eraseFilters()"></button>
      </div>
      } @if (status == 2) {
      <div class="col">
        <div class="input-group">
          <input (ngModelChange)="applyFilters()" type="date" class="form-control border-0 bg-light"
            [(ngModel)]="periodFrom" [max]="periodTo" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input (ngModelChange)="applyFilters()" type="date" class="form-control border-0 bg-light"
            [(ngModel)]="periodTo" [min]="periodFrom" [max]="getCurrentDate()" />
        </div>
      </div>
      <div class="col-md-4">
        <select (change)="applyFilters()" class="form-select" aria-label="Default select example" [(ngModel)]="state">
          <option value="" selected>Estados...</option>
          @for (item of states; track $index) {
          <option value="{{ item.value }}">{{ item.value }}</option>
          }
        </select>
      </div>
      <div class="col-auto d-flex gap-1 ms-auto">
        <button class="btn btn-secondary bi-trash" (click)="eraseFilters()"></button>
      </div>
      } @if (status == 3) {
      <div class="col">
        <div class="input-group">
          <input (ngModelChange)="applyFilters()" type="date" class="form-control border-0 bg-light"
            [(ngModel)]="periodFrom" [max]="periodTo" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input (ngModelChange)="applyFilters()" type="date" class="form-control border-0 bg-light"
            [(ngModel)]="periodTo" [min]="periodFrom" [max]="getCurrentDate()" />
        </div>
      </div>
      <div class="col-md-4">
        <select (change)="applyFilters()" class="form-select" [(ngModel)]="reportReason2"
          aria-label="Default select example">
          <option value="" selected>Razones...</option>
          @for (item of reportsReasons; track $index) {
          <option value="{{ item.reportReason }}">
            {{ item.reportReason }}
          </option>
          }
        </select>
      </div>
      <div class="col-auto d-flex gap-1 ms-auto">
        <button class="btn btn-secondary bi-trash" (click)="eraseFilters()"></button>
      </div>
      }
    </div>
  </div>
</div>

<div class="container">
  <!-- Inicia en esta vista -->
  @if (status == 0) {
  <div class="row">
    <!-- KPI LIMITE 5-->
    <div class="col-2 gap-2 d-flex flex-column justify-content-center">
      <app-custom-kpi [amount]="totalFines" title="Total Multas" subTitle="Período" tooltip="Total del Período"
        [customStyles]="{ 'background-color': '#D6F6FF' }" icon="bi bi-flag-fill" formatPipe=""></app-custom-kpi>
      <app-custom-kpi [amount]="averageFinesPerMonth" title="Promedio" subTitle="Período" tooltip="Total del Período"
        [customStyles]="{ 'background-color': '#FFE699' }" icon="bi bi-calendar-day" formatPipe=""></app-custom-kpi>
      <div class="lowestHighest" (click)="openModalPreview(5)">
        <app-custom-kpi [amount]="highestFine?.amount" title="Multa más alta" subTitle="Período"
          tooltip="Total del Período" [customStyles]="{ 'background-color': '#B3F5BC' }" icon="bi bi-calendar-day"
          formatPipe="currency"></app-custom-kpi>
      </div>
      <div class="lowestHighest" (click)="openModalPreview(6)">
        <app-custom-kpi [amount]="lowestFine?.amount" title="Multa más baja" subTitle="Período"
          tooltip="Total del Período" [customStyles]="{ 'background-color': '#FCAE7C' }" icon="bi bi-calendar-day"
          formatPipe="currency"></app-custom-kpi>
      </div>
    </div>
    <div class="col-10">
      <!-- Graficos chicos (pie, lines, list)-->
      <div class="row mb-2">
        <!-- Grafico 1 -->
        <div class="col">
          <div class="card border-0 shadow-lg rounded-4 h-100">
            <div class="card-body">
              <h4 class="card-title align-items-center">
                Multas por Estado
                <button type="button" class="btn btn-sm btn-link text-muted bi bi-arrows-angle-expand fs-5 float-end"
                  title="Expandir" (click)="changeView(1)"></button>
              </h4>
              <hr />
              <div class="row justify-content-center text-center align-items-center">
                @if(columnChartData.length > 0){
                <div class="col-12 hover-scale flex-grow-1 d-flex align-items-center">
                  <google-chart [type]="columnChartType" [data]="columnChartData" [options]="columnChartOptions"
                    style="width: 100%; height: 150px" class="w-100"></google-chart>
                </div>
                } @else {
                <div class="text-center text-secondary">
                  No se encontraron datos para los filtros seleccionados
                </div>
                }
              </div>
            </div>
          </div>
        </div>
        <!-- Grafico 2 -->
        <div class="col">
          <div class="card border-0 shadow-lg rounded-4 h-100">
            <div class="card-body">
              <h4 class="card-title align-items-center">
                Multas por Motivo
                <button type="button" class="btn btn-sm btn-link text-muted bi bi-arrows-angle-expand fs-5 float-end"
                  title="Expandir" (click)="changeView(2)"></button>
              </h4>
              <hr />
              <div class="row justify-content-center text-center align-items-center">
                @if(pieChartData.length > 0){
                <google-chart [type]="pieChartType" [data]="pieChartData" [options]="pieChartOptions"
                  style="width: 100%; height: 150px"></google-chart>
                } @else {
                <div class="text-center text-secondary">
                  No se encontraron datos para los filtros seleccionados
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Graficos Grande (stonk, column) -->
      <div class="row">
        <!-- Grafico 3 -->
        <div class="col">
          <div class="card border-0 shadow-lg rounded-4 h-100">
            <div class="card-body">
              <h4 class="card-title align-items-center">
                Comparación del Período
                <button type="button" class="btn btn-sm btn-link text-muted bi bi-arrows-angle-expand fs-5 float-end"
                  title="Expandir" (click)="changeView(3)"></button>
              </h4>
              <hr />
              <google-chart [type]="lineChartType" [data]="lineChartData" [options]="lineChartOptions"
                style="width: 100%; height: 230px"></google-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
  <!-- Y de acuerdo van tocando los botones de navegacion se iran abriendo esto -->
  @if (status == 1) {
  <div class="row">
    <div class="col-12">
      <div class="card h-100 border-0 shadow-lg rounded-4">
        <div class="card-body d-flex flex-column">
          <h4 class="card-title align-items-center">
            Multas por Estado
            <button type="button" class="btn btn-sm btn-link text-muted bi bi-arrow-left fs-5 float-end" title="Volver"
              (click)="changeView(0)"></button>
          </h4>
          <hr />
          <div class="row">
            <div class="col-3 gap-2 d-flex flex-column justify-content-center">
              <app-custom-kpi [amount]="stateWithHighestPercentage.percentage" title="Estado Mayor"
                [subTitle]="stateWithHighestPercentage.state" tooltip="Total del Período"
                [customStyles]="{ 'background-color': '#D6F6FF' }" icon="bi bi-percent"
                formatPipe="percent"></app-custom-kpi>

              <app-custom-kpi [amount]="stateWithLowestPercentage.percentage" title="Estado Menor"
                [subTitle]="stateWithLowestPercentage.state" tooltip="Total del Período"
                [customStyles]="{ 'background-color': '#FFE699' }" icon="bi bi-percent"
                formatPipe="percent"></app-custom-kpi>
            </div>
            <div class="col-9">
              <div class="row flex-grow-1 d-flex justify-content-center align-items-center mt-1 h-100">
                @if(columnChartData.length > 0){
                <google-chart [type]="columnChartType" [data]="columnChartData" [options]="columnChartOptions"
                  style="width: 100%; height: 500px"></google-chart>
                } @else {
                <div class="text-center text-secondary">
                  No se encontraron datos para los filtros seleccionados
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  } @if (status == 2) {
  <div class="row">
    <div class="col-12">
      <div class="card h-100 border-0 shadow-lg rounded-4">
        <div class="card-body d-flex flex-column">
          <h4 class="card-title align-items-center">
            Multas por Motivo
            <button type="button" class="btn btn-sm btn-link text-muted bi bi-arrow-left fs-5 float-end" title="Volver"
              (click)="changeView(0)"></button>
          </h4>
          <hr />
          <div class="row">
            <div class="col-3 gap-2 d-flex flex-column justify-content-center">
              <app-custom-kpi [amount]="0" title="Mayor Cantidad" [subTitle]="dayWithMostComplaintsName"
                tooltip="Promedio" [customStyles]="{ 'background-color': '#E2CBF7' }" icon="bi bi-clock"
                formatPipe="string"></app-custom-kpi>

              <app-custom-kpi [amount]="0" title="Menor Cantidad" [subTitle]="dayWithLeastComplaintsName"
                tooltip="Promedio" [customStyles]="{ 'background-color': '#F9FFB5' }" icon="bi bi-clock"
                formatPipe="string"></app-custom-kpi>
            </div>
            <div class="col-2"></div>
            <div class="col-7">
              <div class="row flex-grow-1 d-flex justify-content-center align-items-center mt-1 h-100">
                @if(pieChartData.length > 0){
                <google-chart [type]="pieChartType" [data]="pieChartData" [options]="pieChartOptions"
                  style="width: 100%; height: 500px"></google-chart>
                } @else {
                <div class="text-center text-secondary">
                  No se encontraron datos para los filtros seleccionados
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  } @if (status == 3) {
  <div class="row justify-content-center align-items-center m-1">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Comparación del Período
          <button type="button" class="btn btn-sm btn-link text-muted bi bi-arrow-left fs-5 float-end" title="Volver"
            (click)="changeView(0)"></button>
        </h4>
        <hr />
        <div class="row">
          <div class="col-3 gap-2 d-flex flex-column justify-content-center">
            <!-- KPI Placeholder -->

            <app-custom-kpi [amount]="paidFinesCount" title="Multas Pagadas" subTitle="Período"
              tooltip="Total del Período" [customStyles]="{ 'background-color': '#D6F6FF' }" icon="bi bi-check-circle"
              formatPipe=""></app-custom-kpi>

            <app-custom-kpi [amount]="pendingFinesCount" title="Multas Pendientes de Pago" subTitle="Período"
              tooltip="Total del Período" [customStyles]="{ 'background-color': '#FFE699' }"
              icon="bi bi-exclamation-circle" formatPipe=""></app-custom-kpi>

            <!-- Nuevos KPIs -->
          </div>
          <div class="col-9">
            <!-- Graficos Grande (stonk, column) -->
            <div class="row">
              <!-- Grafico Columna -->
              <div class="col">
                <google-chart [type]="lineChartType" [data]="lineChartData" [options]="lineChartOptions" class="w-100"
                  style="width: 100%; height: 500px"></google-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>

<!-- Modal de info -->
<div class="modal fade" id="infoModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Estadísticas de Multas
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <h5>Descripción</h5>
        <p>
          En este dashboard podrá ver un resumen detallado de las estadísticas
          relacionadas con las multas. Podrá aplicar filtros según el período,
          comparar diferentes tipos de multas, observar el promedio de multas
          por motivo, y visualizar la cantidad de estas a lo largo del tiempo a
          través de un gráfico de columnas. Además, en la sección izquierda
          encontrará datos relevantes basados en el período de su interés.
        </p>
        <h5>Filtros</h5>
        <p>
          En la sección de arriba, se observará los filtros que podrá aplicar.
          Entre ellos, tenemos la posibilidad de seleccionar el período.
        </p>
        <h5>Comparación de Tipos</h5>
        <p>
          Usted podrá conocer la cantidad de multas por estado y elegir la
          razón.
        </p>
        <h5>Promedio de Multas</h5>
        <p>
          Además, cuántas hay por cada motivo, con la posibilidad de elegir un
          estado específico para ver.
        </p>
        <h5>Cantidad de Multas</h5>
        <p>
          También contará con un gráfico de líneas para conocer cuántas multas
          hubo por período, con la posibilidad de filtrar por motivo.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de filtros -->
<div class="modal fade" id="filterModal" #filterModal tabindex="-1" aria-labelledby="filterModalLabel"
  aria-hidden="true" data-bs-keyboard="true" style="background: rgba(0, 0, 0, 0.5); transition: opacity 0.15s linear;">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Filtros Avanzados</h5>
        <button type="button" class="btn-close" (click)="closeFilterModal()" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <!-- Razones Filter -->
        <div class="row d-flex justify-content-start align-items-center mb-3">
          <div class="col-4">
            <label for="reportReasonSelect" class="form-label">Razones</label>
          </div>
          <div class="col">
            <select id="reportReasonSelect" class="form-select" [(ngModel)]="reportReason" (change)="applyFilters()"
              aria-label="Default select example">
              <option value="" selected>Razones...</option>
              <!-- Iterate through reportsReasons -->
              <option *ngFor="let item of reportsReasons; let i = index" [value]="item.reportReason">
                {{ item.reportReason }}
              </option>
            </select>
          </div>
        </div>

        <!-- Estados Filter -->
        <div class="row d-flex justify-content-start align-items-center mb-3">
          <div class="col-4">
            <label for="stateSelect" class="form-label">Estados</label>
          </div>
          <div class="col">
            <select id="stateSelect" class="form-select" [(ngModel)]="state" (change)="applyFilters()"
              aria-label="Default select example">
              <option value="" selected>Estados...</option>
              <!-- Iterate through states -->
              <option *ngFor="let item of states; let i = index" [value]="item.value">
                {{ item.value }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeFilterModal()">
          Cerrar
        </button>
        <!-- <button
          type="button"
          class="btn btn-primary"
          (click)="applyFilters(); closeFilterModal()"
        >
          Aplicar
        </button> -->
      </div>
    </div>
  </div>
</div>