<div class="modal-content border border-2">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="complaintModal">CONSULTA INFORME</h1>
    <button type="button" class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <h5>Información del Informe</h5>
      <div class="row mb-3">
          <div class="col-md-6">
              <p><strong>Motivo:</strong> {{ report?.reportReason.reportReason || 'N/A' }}</p>
              <p><strong>Fecha:</strong> {{ report?.createdDate || 'N/A' }}</p>
          </div>
      
          <div class="col-md-6">
              <p><strong>Descripcion:</strong> {{ report?.description || 'N/A' }}</p>
          </div>
      </div>
      <hr>
      <h5>Denuncias</h5>
        <div class="row mb-3">
          @for(complaint of report?.complaints; track $index){
            <div class="col-md-6">
              <p><strong>Denuncia {{ $index + 1 || 'N/A' }}:</strong></p>
              <p><strong>Tipo:</strong> {{ complaint?.complaintType || 'N/A' }}</p>
              <p><strong>Descripción:</strong> {{ complaint?.description || 'N/A' }}</p>
              <p><strong>Fecha:</strong> {{ report?.createdDate || 'N/A' }}</p>
          </div>
          }
        </div>

        <hr>
        <h5>Estado de la Multa</h5>
      <div class="row mb-3">
          <div class="col-md-6">
              <p><strong>Estado:</strong> {{ report?.reportState || 'N/A' }}</p>
              <p><strong>Razon</strong> {{ report?.stateReason || 'N/A' }}</p>
          </div>
      </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Cerrar</button>
  </div>
</div>


     
