<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#consultarInformeModal"
>
  Consultar informe
</button>

<div
  class="modal fade"
  id="consultarInformeModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" id="">
    <div class="modal-content rounded-4">
      <div class="modal-header verdeOscuro">
        <div class="col-6">
          <div class="mb-3">
            <h4 class="modal-title fs-5" id="exampleModalLabel">Motivo</h4>
            <select class="form-select" aria-label="Default select example">
              <option selected>Daño a la propiedad</option>
              <option value="1"></option>
              <option value="2"></option>
              <option value="3"></option>
            </select>
          </div>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
          <div class="mb-3">
            <h4 class="modal-title fs-5" id="exampleModalLabel">
              Fecha de alta
            </h4>
            <input type="date" class="rounded-3 input-date form-control" />
          </div>
        </div>
        <button
          type="button"
          class="btn-close me-1"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="conteiner-fluid">
          <!--ROW DEL TEXT AREA-->
          <div class="row">
            <div class="col-12">
              <label class="fw-semibold" for="form-floating">Descripcion</label>
              <div class="form-floating">
                <textarea
                  class="form-control fondoGris"
                  placeholder="Leave a comment here"
                  id="floatingTextarea2"
                  style="height: 200px; resize: none"
                >
Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ea perferendis illum? Hic repellendus quos nemo sequi error magnam adipisci illo provident eius maxime odit nihil fugiat tempore, dolorem expedita. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error modi delectus id nostrum asperiores expedita aut architecto iusto, tempora repudiandae ullam cum, sunt cupiditate in velit necessitatibus ut cumque fuga. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi molestiae veniam maiores quibusdam non hic, sed laudantium. Facere, repellendus sunt et asperiores, error odit, amet modi consequatur id veniam quas!</textarea
                >
              </div>
            </div>
          </div>
          <!--ROW DE LOS INPUTS Y LAS FOTOS-->
          <div class="row mt-4">
            <div class="col-12">
              <div class="row"></div>
              <div class="row">
                <div class="col-3">
                  <div class="mb-3">
                    <label
                      for="exampleInputEmail1"
                      class="form-label fw-semibold"
                      >Infractor</label
                    >
                    <input
                      type="text"
                      value="Lote 35B"
                      disabled
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                    />
                  </div>
                </div>
                <div class="col-3">
                  <div class="p-2 mt-4">
                    <button
                      style="width: 100px"
                      type="button"
                      class="btn verdeClaro"
                    >
                      Ver mas
                    </button>
                  </div>
                </div>
                <div class="col-3">
                  <div class="mb-3">
                    <label
                      for="exampleInputEmail1"
                      class="form-label fw-semibold"
                      >Estado</label
                    >
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      disabled
                    >
                      <option value="1">Cerrado</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
                <div class="col-3">
                  <div class="mb-3">
                    <label
                      for="exampleInputEmail1"
                      class="form-label fw-semibold"
                      >Motivo de Cambio</label
                    >
                    <input
                      type="text"
                      value="Aprobacion del consejo"
                      disabled
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer verdeOscuro">
        <button
          type="button"
          class="btn btn-secondary btn-lg me-4"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button type="button" class="btn verdeClaro btn-lg">Aceptar</button>
      </div>
    </div>
  </div>
</div>
